{% extends "pages/base.html" %}

{% block title %}Chi Đoàn{% endblock  %}

{% block content %}
    <h1 class="list-header-name">DANH SÁCH ĐOÀN VIÊN</h1>
    {% comment %} chuc nang them {% endcomment %}
    <a class="button-add" href="{% url 'add_doanvien' %}">
        <button><i class="ti-plus"></i> Thêm mới</button>
    </a>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}

    {% comment %} ----------------------------------------------------- {% endcomment %}
    <br>
    <br>
    {% comment %} tao khung gid cho 2 chuc nang tim kiem va nhap xuat file excel {% endcomment %}
    <div class="gid-form-search-im-ex">
    {% comment %} chuc nang tim kiem {% endcomment %}
        <div>
            <h4 style="padding: 0px 20px;">Tìm Kiếm theo: Mã-Tên đoàn viên hoặc mã Chi đoàn: </h4>
            <div class="search-container">
                <form method="GET" action="{% url 'doanvien' %}">
                    <input class="thanh-tim-kiem" type="text" name="search" placeholder="Nhập từ khóa để tìm kiếm...">
                    {% comment %}  name="search" xem nhu la bien dai dien cho data cua thk input de dua vao view su li {% endcomment %}
                    <button class="search-button" type="submit">Tìm kiếm</button>
                </form>
            </div>
        </div>
    {% comment %} ----------------------------------------------------- {% endcomment %}
    {% comment %} chức năng import và export {% endcomment %}
        <div class="ex-im-comtainer">
            <p style="padding: 5px 7px;">Nhập/Xuất file excel: </p>
            <a href="{% url 'export_doanvien' %}" class="ti-export"></a>
            <a href="{% url 'import_doanvien' %}" class="ti-import"></a>
        </div>
    {% comment %} ----------------------------------------------------- {% endcomment %}
    </div>
    <br>
    {% comment %} Hien thi thong tin bảng doan khoa {% endcomment %}
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th width="5%">STT</th>                
                    <th width="10%">Mã Đoàn Viên</th>       
                    <th width="15%">Tên Đoàn Viên</th>      
                    <th width="10%">Mã Chi Đoàn</th>       
                    <th width="8%">Giới Tính</th>         
                    <th width="10%">Ngày Sinh</th>         
                    <th width="8%">Quê Quán</th>          
                    <th width="10%">Số điện thoại</th>      
                    <th width="8%">Ngày Vào Đoàn</th>     
                    <th width="10%">Chuc vu</th>  
                    <th width="15%">Hành Động</th>         
                    
                </tr>
            </thead>
            <tbody>
                {% for doanvien in doanviens %}
                <tr>
                    {% comment %} forloop dùng để đánh số thứ tự {% endcomment %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ doanvien.maDV }}</td>
                    <td>{{ doanvien.tenDV }}</td>
                    <td>{{ doanvien.maCD.maCD }}</td> <!-- Reference to Chi Đoàn -->
                    <td>{{ doanvien.get_gioi_tinh_display }}</td> <!-- For choice fields -->
                    <td>{{ doanvien.ngay_sinh|date:"d/m/Y" }}</td>
                    <td>{{ doanvien.que_quan }}</td>
                    <td>{{ doanvien.sdt }}</td>
                    <td>{{ doanvien.ngay_vao_doan|date:"d/m/Y" }}</td>
                    <td>{{ doanvien.maCV }}</td>
                    <td>
                        <div style="display: grid; grid-template-columns: auto auto;">
                            <div>
                               <!-- Nút Sửa Dang test-->
                               <a href="{% url 'edit_doanvien' doanvien.maDV %}">
                                <button class="btn btn-primary"><p class="ti-write"></p></button>
                                </a> 
                            </div>
                            <div>
                                 <!-- Nút Xóa -->
                                <button class="btn btn-danger" onclick="confirmDeletedDoanVien('{{ doanvien.maDV }}')">
                                    <p class="ti-trash"></p>
                                </button>
                            </div>
                            
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% comment %} ----------------------------------------------------- {% endcomment %}
    {% comment %} Modal xác nhận xóa chi đoàn {% endcomment %}
    <div id="confirmDeleteModalDoanVien" class="modal">
        <div class="confirm-box">
            <h3>Bạn có chắc chắn muốn xóa Đoàn Viên không?</h3>
            <p>Hành động này sẽ không thể hoàn tác.</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger" >Xác nhận</button>
                <button type="button" class="btn btn-cancel" onclick="closeModalDoanVien()">Hủy</button>

            </form>
        </div>
    </div>
    
    {% comment %} ----------------------------------------------------- {% endcomment %}
{% endblock  %}