{% extends "pages/base.html" %}

{% block title %}Quản lý đoàn viên{% endblock  %}

{% block content %}
    <h1 class="list-header-name">QUẢN LÝ ĐOÀN PHÍ</h1>
    <a class="button-add" href="{% url 'add_doanphi' %}">
        <button><i class="ti-plus"></i> Thêm mới</button>
    </a>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
    {% endif %}
    <div class="gid-form-search-im-ex">
        <div>
            <form method="get" class="doanphi-form">
                {% csrf_token %}
                <div class="form-doanphi-group">
                    {{ form.maCD.label_tag }}
                    {{ form.maCD }}
                </div>
                <div class="form-doanphi-group">
                    {{ form.hocky.label_tag }}
                    {{ form.hocky }}
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Quản lý đoàn phí</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th width="10%">Mã Đoàn Phí</th>
                    <th width="25%">Đoàn Viên</th>
                    <th width="10%">Số Tiền</th>
                    <th width="5%">Học Kỳ</th>
                    <th width="5%">Trạng Thái</th>
                    <th width="5%">Hành Động</th>
                </tr>
            </thead>
            <tbody>
                {% for doanphi in doanphis %}
                <tr>
                    <td>{{ doanphi.maDP }}</td>
                    <td>{{ doanphi.maDV.tenDV }}</td>
                    <td>{{ doanphi.sotien }}</td>
                    <td>{{ doanphi.hocky.tenHK }}</td>
                    <td>{{ doanphi.get_trangthai_display }}</td>
                    <td>
                        <div>
                            <div>
                               <!-- Nút Sửa Dang test-->
                                <a href="{% url 'edit_doanphi' doanphi.maDP %}">
                                    <button class="btn btn-primary"><p class="ti-write"></p></button>
                                </a>
                            </div>                           
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6">Không có dữ liệu phù hợp.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>  
    </div>

    <div id="confirmDeleteModalDoanPhi" class="modal">
        <div class="confirm-box">
            <h3>Bạn có chắc chắn muốn xóa  không?</h3>
            <p>Hành động này sẽ không thể hoàn tác.</p>
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn-cancel" onclick="closeModalChiDoan('confirmDeleteModalDoanPhi')">Hủy</button>
            </form>
        </div>
    </div>
{% endblock  %}