{% extends "pages/base.html" %}

{% block title %}Sửa thông tin Chi Đoàn{% endblock %}

{% block content %}
    <h2 style="padding: 20px;">SỬA THÔNG TIN CHI ĐOÀN</h2>
    <div class="edit-form">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="maCD">Mã Chi Đoàn: </label>
                {{ form.maCD }}
                <label for="tenCD">Tên Chi Đoàn: </label>
                {{ form.tenCD }}
                <label for="maDK">Đoàn Khoa: </label>
                {{ form.maDK }}
            </div>
            <div class="button-edit-form">
                <div>
                    <button type="submit" class="btn btn-success">Lưu</button>
                </div>
                <div>
                    {% comment %} thêm nút hủy cho quay lại trang {% endcomment %}
                    <a href="/chidoan"><button type="button" class="btn btn-cancel">Hủy</button></a>
                </div>
                
            </div>
        </form>
    </div>
{% endblock %}