{% extends "pages/base.html" %}

{% block title %}Sửa thông tin Đoàn Vien{% endblock %}

{% block content %}
    <h2 style="padding: 20px;">SỬA THÔNG TIN ĐOÀN VIEN</h2>
    <form class="edit-chidoan-form" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <div class="button-edit-add-form">
            <div>
                <button type="submit" class="btn btn-success">Lưu</button>
            </div>
            <div>
                <a href="/doanvien"><button type="button" class="btn btn-cancel">Hủy</button></a>
            </div>
        </div>
    </form>
{% endblock %}